<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="MyProject">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="SELECTOR_SERVICE_HOST" value="http://localhost:19024" force="true" />
        <env name="SELECTOR_SERVICE_TOKEN" value="TESTS-O3GJ4F-395I4" force="true" />
    </php>
</phpunit>